@charset "UTF-8";


div.container{
    height: 100vh;
    display: grid;
    grid-template: 100px 50px 1fr 300px 50px / 1fr 310px;
    gap: 15px;
}
#principal {
    grid-area: 3 / 1 / 4 / 2;
    background-color: lightgray;
    max-width: 800px;
    width: 100%;
    margin-left: auto;
}


#artigo1 {
    border: 1px solid green;
    flex: 1 1 600px;
}

#artigo2 {
    border: 1px solid orange;
    flex: 0 1 300px;
}

#artigo3 {
    border: 1px solid brown;
    flex: 0 1 300px;
}

#artigo4 {
    border: 1px solid blue;
    flex: 0 1 300px;
}

#artigo5 {
    border: 1px solid black;
    flex: 0 1 300px;
}

#secundario {
    background-color: lightgray;
    grid-area: 3 / 2 / 4 / 3;  
    border: 2px solid #400202;
    max-width: 400px;
    width: 100%;
    margin-right:auto ; 
}

#terciario {
    background-color: gray;
    grid-area: 4 / 1 / 5 / 3; 
    
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    padding: 10px;
    margin: 5px;
}

#video1 {
    flex: 0 1 340px;
    align-self: center;
    background-color: red;
    margin-right: 10px;
   
}

#video2 {
    flex: 0 1 340px;
    align-self: center;
    background-color: green;
    margin-right: 10px;
}

#video3 {
    flex: 0 1 340px;
    align-self: center; 
    background-color: blue;
}

#rodape {
    grid-area: 5 / 1 / 6 / 3; 
    
    background-color: #400202;
    color: white;
    text-align: center;
    padding: 10px;
    height: 100px;
}