@charset "UTF-8";

div.media img {
    display: block;
    margin: auto;
    /*width: 90vw;*/
    max-width: 300px;
    padding: 10px;
}
div.media iframe {
    display: block;
    
    margin: left auto;
    /*width: 90vw;*/
    max-width: 300px;
}